* margin
{
   0 0;
}


#page
{
    max-width:1366px;
    text-align: left;
    margin: 0 auto;      /*margin is the distance between components*/
    /*height:500px;*/
}

#header
{
    height: 85px;
    background-color: white;
    /*background-color: #146195;*/
}


#nav
{
    /*background-color: rgba(32,119,182,0.2);
    margin: 20px 25px;
    border:dashed;*/
    max-width: 1366px;
    height: 37px;
    /*border-width:2px;*/
    margin: 0 auto;
    background-color: #0d3d61;

}

    #nav ul
    {
        list-style-type: none;
        position:relative;
        max-width: 1366px;
    }

    #nav ul ul
    {
        display: none;
        position:absolute;
        top: 37px;      
    }

        #nav ul li:hover > ul    /*when hovering ul, do the following to the inner ul*/
        {
            display: block;
            padding:0px;  /*make the hovering subtopic bar to the left*/
        }

        #nav ul ul li
        {
            float: none;
        }

        #nav ul li a
        {
            background-color: #0d3d61;
            color: white;
            text-decoration: none;
            font-size: 15px;
            font-family: Arial;
            padding: 10px 40px;
            display: block;   /*this can help fix the overlap problem in nav bar*/
            width:100px;
            text-align:center;
        }

        #nav ul li
        {
            float: left;
        }

    #nav a:hover
    {
        background-color: orange;
        color:white;
        /*font-size:105%;*/
    }

    #nav > ul::after  /*insert text after the content of each nav >  ul*/
    {
        content: "";
        display: block;
        clear: both;

    }

#aside
{
    background-color:#146195;
    height:525px;
    width:180px;
    float:left;
}

    #aside ul
    {
        list-style-type: none;
        float: left;
        display: block;
        padding: 0px;

    }

    #aside a:hover   /*when hovering ul, do the following to the inner ul*/
        {
            /*padding:5px;*/  /*make the hovering subtopic bar to the left*/
            background-color: orange;
        }

        #aside ul li
        {
            float: left;
        }

        #aside ul li a
        {
            margin: 10px 0px;
            /*background-color: #0d3d61;*/
            color: white;
            text-decoration: none;
            font-size: 15px;
            text-align: center;
            font-family: Arial;
            padding: 10px;
            display: block; 
            width:160px;
        }

#section
{
}


/*#content 
{
    padding: 0 10px;
}*/


footer {
	height: 37px;
	width: 1366px;
	line-height: 3;
	text-align: center;
	background: #0d3d61;
	color: #fff;
	left: 0;
	bottom: 0;
}